<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Coffee Siphon</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>


<% provide(:title, "Home") %>

<!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <%= image_tag('/assets/coffee_bowl.jpg', class: "img-responsive img-rounded") %>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Welcome to All About Coffee!</h1>
                <p>All about Coffee is a user friendly web application designed to allow coffee lovers to review and save different coffee brands that's they've enjoyed...or haven't enjoyed so much. Go ahead and make an account to get started or feel free to use the search bar to see other coffee reviews!</p>
                <a class="btn btn-success btn-block" <%= link_to "Sign Up!",   signup_path %></a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    This is a well that is a great spot for a business tagline or phone number for easy access!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        

        <footer class="footer">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; All about Coffee 2017</p>
                </div>
            </div>
        </footer>

        

<% end %>